<div id="table-container" >
  <table mat-table [dataSource]="dataSource">
    <ng-container *ngFor="let col of displayColumns" matColumnDef="{{col}}">
      <th mat-header-cell *matHeaderCellDef> {{col}} </th>
      <td *matCellDef="let element" mat-cell>
        {{element[col]}}
        <button (click)="edit(element)" *ngIf="col == 'edit'" aria-label="Edit Row" matRipple matTooltip="Edit Row"
                matTooltipPosition="left">
          <span aria-hidden="true" class="material-icons-outlined">edit</span>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayColumns;"> </tr>


  </table>
</div>
